{% extends "base.html" %}

{% block content %}
<style>
    form{
        padding-top: 3%;
    }
</style>
</div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Id:" aria-label="id">
        <input class="form-control mr-sm-2" type="text" placeholder="Name:" aria-label="name">
        <input class="form-control mr-sm-2" type="text" placeholder="Address:" aria-label="address">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
    </form>
</div>

{%endblock%}