{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello, Rishav!</h2>
      <p>Today's Date is: {{date}}</p>
      <p><a class="btn btn-success btn-sm" href="/add" role="button">Add</a></p>
      <table>
        <tr>
          <th>Name</th>
        </tr>
        <tr>
      {% for i in infos %}
        <!-- <strong>ID:</strong> {{ i.id }} -->
        <td><a href="/info/{{i.id}}"> {{ i.name }} </a></td>
        <!-- <strong>Address:</strong> {{ i.address }} -->
      </tr>
      {%- endfor -%}

      </table>

      <p><a class="btn btn-info btn-sm active" href="https://codavatar.com/" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

{%endblock%}