{% extends "base.html" %}

{% block content %}
<style>
    form{
        padding-top: 3%;
    }
</style>
</div>
    <form action="/edit/{{info.id}}" id="info-form" method="POST">
        <label for="name">
            <strong>Name:</strong>
            <input type="text" name='name' placeholder='{{info.name}}' id='name' required>
        </label>
        <label for="address">
            <strong>Address:</strong>
            <input type="text" name='address' placeholder='{{info.address}}' id='address'>
        </label>

        <input type="submit" value="Update" onClick="CloseAndRedirect()";>
    </form>
</div>

<script>    
    async function postFormDataAsJson({url, formData}){
        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);
    
        const fetchOptions = {
            method: "POST",
            headers : {
                "Content-Type": "application/json",
                "Accept": "application/json",
            },
            body: formDataJsonString,
        };
    
        const response = await fetch(url, fetchOptions);
    
        if(!response.ok){
            const errorMessage = await response.text();
            throw new Error(errorMessage);
        }
    
        return response.json();
    }

    async function handleFormSubmit(event) {
        event.preventDefault();
        const form = event.currentTarget;
        const url = form.action;
    
        try {
            const formData = new FormData(form);
            const responseData = await postFormDataAsJson({url, formData});
    
            console.log({responseData});
        } catch(error){
            console.error(error);
        }
    
    }

    function CloseAndRedirect() 
  {
    setTimeout("location.href = '{{ url_for('homepage') }}';",1000);
  }

    const infoForm = document.getElementById("info-form");
    
    infoForm.addEventListener("submit", handleFormSubmit)

</script>

{%endblock%}
